@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Great+Vibes&display=swap');

body {
	background: pink;
	color: darkmagenta;  
}

p {
	font-family: 'Grandiflora One', cursive;
	font-weight: bold;
}

h1 {
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 50px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}


#special {
	background: pink;
	color: darkmagenta;
	font-family: 'Great Vibes', cursive;
}

#caption {
	font-family: 'Grandiflora One', cursive;
	font-weight: bold;
}